.ant-menu-title-content {
  display: flex !important;
  align-items: center !important;
}

.ant-card .ant-card-body {
  padding: 0;
}

.apexcharts-tooltip {
  background: rgba(255, 255, 255, 0.95) !important;
  border-radius: 8px !important;
  border: none !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  padding: 7px !important;
  font-weight: 500 !important;
}
