.ant-menu-title-content {
  display: flex !important;
  align-items: center !important;
}

.ant-card .ant-card-body {
  padding: 0;
}

.apexcharts-tooltip {
  background: #001529 !important;
  border-radius: 8px !important;
  border: none !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  padding: 7px 12px !important;
  font-weight: 500 !important;
}

.apexcharts-xaxistooltip {
  display: none !important;
}

.apexcharts-legend.apx-legend-position-left {
  justify-content: center !important;
  gap: 5px !important;
}

.apexcharts-legend-series {
  gap: 5px !important;
}

.ant-spin-container {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.ant-spin-nested-loading,
.ant-table-wrapper {
  height: 100%;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  padding: 13px;
  margin: 0px !important;
  border-top: 1px solid rgb(232, 232, 232);
}
.ant-table-wrapper .ant-table .ant-table-header,
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child,
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:last-child
  > *:last-child {
  border-radius: 0;
}

.ant-card .ant-card-head {
  padding: 0px 7px;
}
.ant-table-wrapper .ant-table-thead {
  font-size: 13px;
  font-weight: 400 !important;
}

.ant-table-wrapper .ant-table.ant-table-small {
  font-size: 13px;
}

.ant-table-wrapper .ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  font-size: 10px !important;
}
